@{
    ViewData["Title"] = "Approve Driver EOD";
}


@section Styles{
<style type="text/css">
    
</style>
}


<div class="text-center">

    <section>
        <div id="seach-container"></div>
    </section>

    <section id="driver-eod-section">
         <div id="driver-container"></div>
    </section>
    
</div>




@section Scripts{
<script src="~/js/utilities/jq-search-util.js"></script>
<script src="~/js/app-utilies/driver-utility.js"></script>
<script src="~/lib/signature-pad/signature-pad.min.js"></script>

<script type="text/javascript">

    const seachContainerId ='seach-container',
    eventKey = 'SEARCH_DRIVER_EOD',
    btnSearchId = 'btnSearch'
    ;

    const searchColDef = () => {
        const viewColDef = [
            {
                controlName: 'name',
                field: 'name',
                header: 'Name',
                controlType: 'TEXT_BOX',
                type: 'TEXT_BOX',
                rowOrder: 1,
                columnOrder: 1,
            },
            {
                controlName: 'staffID',
                field: 'staffID',
                header: 'Staff ID',
                controlType: 'NUMBER_BOX',
                type: 'NUMBER_BOX',
                rowOrder: 1,
                columnOrder: 2,
            },
            {
                controlName: 'qid',
                field: 'qid',
                header: 'QID',
                controlType: 'NUMBER_BOX',
                type: 'NUMBER_BOX',
                rowOrder: 1,
                columnOrder:3,
            },
            //{
            //    controlName: `BTN_${eventKey}`,
            //    header: 'Search',
            //    controlType: 'BUTTON',
            //    rowOrder: 1,
            //    columnOrder: 4,
            //},
        ];
        return viewColDef;
        //return { viewColDef, constraints:[] };
    };


    const btnSearchCallback=(reponse)=>{
        const {data} = reponse ?? {};
        driverUtil.getDriverData({url:commonUtil.APP_URL.GET_DRIVER_EOD, reqData: data, btnId:btnSearchId }, eventResult=>{
            driverUtil.createDriverForm({eventId: `EVENT_${commonUtil.STATUS_MASTER_TYPE.DRIVER_EOD}`, rowData: eventResult?.data ?? {}});
            window.onresize = driverUtil.resizeCanvas(driverUtil.driverSignPadId);
        });
    };

    const btnClearCallback=()=>{};

    columnSearchUtil.createColumnSearch({
        appendId: seachContainerId, 
        ctrlId: `panel-${seachContainerId}`,
        colDef: searchColDef(),
        actions: [
            {btnId: btnSearchId, text: 'Search', eventCallback: btnSearchCallback, type: 'SEARCH'},
            {btnId: 'btnClear', text: 'Clear', eventCallback: btnClearCallback, type: 'CLEAR'}
        ]
    })
    //driverUtil.getUserSignature('ea341367-2e9a-405b-8060-a71cfc7572b7');
</script>
}