@{
    ViewData["Title"] = "Driver EOD";
}


@section Styles{
<style type="text/css">
    
</style>
}


<div class="text-center">

    <section id="driver-eod-section">
        <div class="container">
            <div id="driver-container"></div>
        </div>
    </section>
    
</div>




@section Scripts{
<script src="~/js/app-utilies/driver-utility.js"></script>

<script type="text/javascript">

    //table = tableUtil.createTabulator({
    //            id: viewContainerId,
    //            uniqueRowId: 'controlValidationId',
    //            //sortColumn: "titel",
    //            sortDir: "asc",
    //            paginationConfig,
    //            columns: getColumnsDef(),
    //            isResponsiveLayout: false,
    //            config: {
    //                textDirection: textDir,
    //                paginationSize: 20,
    //                pagination: "local",
    //                placeholder: msgNoDataFound,
    //                layout: "fitDataStretch",
    //                headerFilterPlaceholder: "FilterColumn",
    //                validationMode: "highlight",
    //                validationFailed: function (cell, value, validators) {
    //                    //cell - cell component for the edited cell
    //                    //value - the value that failed validation
    //                    //validatiors - an array of validator objects that failed
    //                    console.log('validationFailed',cell, value, validators);
    //                },
    //            }
        

    //driverUtil.createDriverForm({eventId: `EVENT_${commonUtil.STATUS_MASTER_TYPE.DRIVER_EOD}`});
    //window.onresize = driverUtil.resizeCanvas(driverUtil.driverSignPadId);
    //driverUtil.getUserSignature('ea341367-2e9a-405b-8060-a71cfc7572b7');
    //driverUtil.getDriverData(commonUtil.APP_URL.GET_DRIVER_DELIVERY_STATUS_DATA);

</script>
}s