:root {
    --main-app-color: #002e6c;
    --second-color: #002F5D;
    --third-color: #278608;
    --four-color: #F20C1D;
    --five-color: #ee9d00fc;
    --six-color: #7b93b2;
}

.second-color {
   color: var(--second-color);
}
.third-color {
    color: var(--third-color);
}
.four-color {
    color: var(--four-color);
}
.five-color {
    color: var(--five-color);
}
.six-color {
    color: var(--six-color);
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.bg-white {
    background-color: var(--main-app-color) !important;
    color: #ffffff !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff !important;
}

.navbar-brand {
    color: #ffffff !important;
}

.table:not(.odd) {
     background-color: #ffffff !important; 
}


.cell-BTN_SAVE_EVENT_SUBMIT {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.change-view {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.btn-change-view {
    font-size: 2rem;
    background-color: #ffffff;
    color: #002e6c;
    border: transparent;
}

    .btn-change-view:hover {
        background-color: #ffffff;
        border: transparent;
        color: #002e6c;
        /*transform:scale(2);*/
    }

.driver-signature-pad{
    /*width: 100%;*/
}

canvas#driverSignPad {
    background: #f2f2f2;
    width: 100%;
    height: 100%;
    cursor: crosshair;
}

.div-driverSignSection {
    border: 2px dashed #ced4da;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.cell-driverSignSection {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

#driver-eod-section .cell-total, #driver-eod-section .cell-delivered,
#driver-eod-section .cell-failed, #driver-eod-section .cell-drops, #driver-eod-section .cell-earned {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px dashed #ced4da;
}

#FORM_EVENT_DRIVER_EOD_COLUM_0 {
    margin-right: 2rem;
}

#FORM_EVENT_DRIVER_EOD_COLUM_0_1{
    align-items: center;
}

.edo-profile-section {
    display: flex;
    flex-direction: row;
    order: 1;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
}

.edo-profile-section .q-column{
    margin:1rem;
}

    .edo-profile-section .eod-profile-details > div{
        display: flex;
        flex-direction: row;
        /*flex-wrap: wrap;*/
    }

    .cell-BTN_SAVE_EVENT_DRIVER_EOD {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

.btn-primary {
    background-color: var(--main-app-color);
}

#MAIN_FORM_EVENT_DRIVER_EOD .cell-total div {
    color: var(--second-color);
    font-weight: 500;
    font-size: 1.5rem;
}

#MAIN_FORM_EVENT_DRIVER_EOD .cell-delivered div {
    color: var(--third-color);
    font-weight: 500;
    font-size: 1.5rem;
}

#MAIN_FORM_EVENT_DRIVER_EOD .cell-failed div {
    color: var(--four-color);
    font-weight: 500;
    font-size: 1.5rem;
}

#MAIN_FORM_EVENT_DRIVER_EOD .cell-drops div {
    color: var(--five-color);
    font-weight: 500;
    font-size: 1.5rem;
}

